@model MoviesApp.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MobileLayoutPage.cshtml";
}

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Director)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Director)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateReleased)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateReleased)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }, new {@data_role="button", @data_inline="true" }) |
    @Html.ActionLink("Back to List", "Index", null, new {@data_role="button", @data_inline="true" })
</p>
